/* El css personalizado*/
/*
#08D9D6 - azul - principal
#252A34 - negro - secundario
#FF2E63 - rosa - fondo header
#EAEAEA - gris - fondo body
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



h1 {
    color: #252A34;
}

body {
    background-color: #EAEAEA;
    font-family:'Open Sans';
}

.responsive {
    width: 100%;
    max-width: 200px;
    height: 80%;
}


.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.card-title {
    font-size: 1.5em;
    color: #252A34; 
    text-align: center;
}

.card-title:hover {
    font-size: 1.5em;
    color: #08D9D6;
    text-align: center;
}

.btn-card-title {
    white-space: nowrap; /* Mantiene el texto en una sola línea */
    overflow: hidden; 
    text-overflow: ellipsis;
    font-size: 0.8em;
    color: #252A34;
    background-color: transparent;
    border: none;
    text-align: center;
    width: 100%;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}

.btn-card-title:hover {
    color: #08D9D6;
    text-decoration: none;
}

.card-text {
    font-size: 1.0em;
    color: #252A34; 
    text-align: center;
    color: #FF2E63;
}

.card-img-top {
    width: 100%;
    height: 243px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.03); /* Aumenta ligeramente el tamaño de la imagen */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Añade una sombra */
}




.mt-auto {
    margin-top: auto; /* Hace que el botón se alinee al final del contenido */
}

.bg-color {
    background-color: #FF2E63;
}

.btn {
    background-color: #08D9D6;
    border-color: #08D9D6;
}


.btn-secondary {
    background-color: #252A34;
    border-color: #252A34;
}

.btn:hover {
    background-color: #1fabbd;
    border-color: #1fabbd;
}

.btn-secondary:hover {
    background-color: rgb(58, 67, 83);
    border-color: rgb(58, 67, 83);
}


.btn-margin-bottom {
    margin-bottom: 10%;
}


.btn-arriba {
    margin-left: 2px;
    margin-right: 2px;
}

/* Para los botones del container que tienen las imagenes*/

.btn-img-container {
    position: relative;
    width: 100%;
    border: none;
    overflow: hidden;
    background-color: transparent;
    display: block;
    transition: transform 0.3s ease; /* Para animaciones, si las quieres */
}



#carrito-contador {
    background-color: #FF2E63!;
}

a.iconos-redes {
    text-decoration: none;
}


/* Fondo del footer */
.footer-bg {
    background-color: #252A34; /* Negro - secundario */
}

/* Sección de redes sociales */
.social-media-section {
    background-color: #252A34; /* Negro - secundario */
}

/* Texto de redes sociales */
.social-text span {
    color: #EAEAEA; /* Gris - fondo body */
}

/* Estilo para iconos de redes sociales */
.iconos-redes svg {
    color: #08D9D6; /* Azul - principal */
    transition: color 0.3s;
}

.iconos-redes svg:hover {
    color: #FF2E63; /* Rosa - fondo header al pasar el cursor */
}

/* Sección de links en el footer */
.footer-links {
    background-color: #252A34; /* Negro - secundario */
    padding-top: 20px;
}

.footer-links h6 {
    color: #08D9D6; /* Azul - principal */
    font-weight: bold;
}

.footer-links a {
    color: #EAEAEA; /* Gris - fondo body */
    text-decoration: none;
}

.footer-links a:hover {
    color: #FF2E63; /* Rosa - fondo header al pasar el cursor */
}

/* Descripción de la empresa en el footer */
.footer-description {
    color: #EAEAEA; /* Gris - fondo body */
}

/* Copyright */
.footer-copyright {
    background-color: #252A34; /* Negro - secundario */
    color: #EAEAEA; /* Gris - fondo body */
}


/* CSS para alinear contenido e imagen en la sección del banner */

.banner {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: space-between; /* Asegura que la imagen esté a la derecha y el contenido a la izquierda */
    padding: 0px; /* Añade espacio alrededor del contenido */
    margin-left: 0.5em;
}

.banner .content {
    flex: 1;
    max-width: 50%; /* Asegura que el contenido ocupe solo la mitad de la pantalla */
    padding-right: 20px; /* Espacio entre el contenido y la imagen */
}



.banner .image {
    flex: 1;
    max-width: 50%; /* Asegura que la imagen ocupe solo la mitad de la pantalla */
    display: flex;
    justify-content: flex-end; /* Asegura que la imagen esté a la derecha */
}

.banner .image img {
    max-width: 100%; /* La imagen ocupará todo el ancho posible sin desbordar */
    height: auto;
    object-fit: cover; /* Mantiene la proporción de la imagen */
}

.milogo {
    max-height: 50px;  
    height: auto;  
    width: auto; 
}

.imagen-carrito {
    max-height: 50px;  
    height: auto;  
    width: auto; 
}

.btn-logo {
    background-color: #143447;
    border-color: #143447;
    border-radius: 10px;
}

.btn-link {
    color: #252A34;
}


.btn-logo:hover {
    border-color: #08D9D6;
    border-radius: 13px;
}



/* Estilos para los formularios */



.form-container {
    max-width: 600px; /* Define un ancho máximo para el formulario */
    width: 100%; /* Asegura que el formulario sea responsive */
}

.form-control {
    border: 1.5px solid #252A34;
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    padding: 5px; 
    font-size: 1rem; 
    transition: all 0.3s ease-in-out;
}

.btn-primary {
    background-color: #08D9D6;
    border-color: #08D9D6;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
    padding: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
    background-color: #06b1ad;
    transform: scale(1.02);
}

.btn-outline-secondary {
    border-radius: 0 10px 10px 0; /* Redondea solo el borde derecho del botón */
}

.shadow-lg {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave para resaltar el formulario */
}

h1.text-center {
    color: #252A34;
}

.text-primary {
    color:#FF2E63 !important;
}

input[type="password"] {
    border-radius: 10px 0 0 10px; /* Redondea solo el borde izquierdo del input */
}


/* Carousel dio mio */

.carousel-item {
    height: 100%;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* From Uiverse.io by MuhammadHasann */ 
.button-stars {
    background: #FF2E63;
    position: relative;
    color: #EAEAEA;
    border: 3px solid #FF2E63;
    border-radius: 8px;
    box-shadow: 0 0 0 #FF2E63;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 1em;
    margin-left: 6em;
  }
  
  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s ease;
  }
  
  .button-stars:hover {
    background: transparent;
    color: #f74470;
    box-shadow: 0 0 25px #f74470;
  }
  
  .button-stars:hover .star-1 {
    position: absolute;
    top: -60%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .button-stars:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .button-stars:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .button-stars:hover .star-4 {
    position: absolute;
    top: 50%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .button-stars:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .button-stars:hover .star-6 {
    position: absolute;
    top: -10%;
    left: 70%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .fil0 {
    fill: #08D9D6;
  }
  













  .comentarios-titulo {
    color: #252A34;
    font-size: 2em;
    margin-bottom: 20px;
}

blockquote {
    background-color: #252A34;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}

blockquote p {
    font-size: 1.2em;
    color: white;
}

blockquote-footer {
    font-size: 0.9em;
    color: #252A34;
}

blockquote-footer cite {
    color: #FF2E63;
}


.tienda {
    max-height: 400px; 
    overflow: hidden;
}

.tienda-imagen {
    height: 100%;
    object-fit: cover; 
}






/* Controles del carrusel */
.carousel-control-prev-icon, 
.carousel-control-next-icon {
    background-color: #08D9D6; /* Azul principal */
    border-radius: 50%; /* Redondea las esquinas de las flechas */
    width: 50px;
    height: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
    border: 2px solid #252A34; /* Borde secundario */
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-left: 50px;
}

.carousel-control-prev-icon:hover, 
.carousel-control-next-icon:hover {
    background-color: #FF2E63; /* Cambia el color de fondo al pasar el ratón */
    transform: scale(1.1); /* Efecto de aumento al pasar el ratón */
}

/* Controles de botones prev/next del carrusel */
.carousel-control-prev, 
.carousel-control-next {
    width: auto;
}

.carousel-control-prev {
    left: -30px; 
}

.carousel-control-next {
        right: 30px;
    }
    /* Asegura que las flechas estén bien centradas verticalmente */
    .carousel-control-prev, 
    .carousel-control-next {
        top: 50%;
        transform: translateY(-50%);
    }
    
    /* Añade una pequeña animación cuando se hacen clic */
    .carousel-control-prev:active, 
    .carousel-control-next:active {
        transform: translateY(-50%) scale(0.95); 
    }







/*
* VISTA DE DISPOSITIVOS PEQUEÑOS
*/



@media (max-width: 709px) {
    .navbar-nav .nav-item {
        width: 100%;
        text-align: right; /* Alinear a la derecha */
    }

    .btn-arriba {
        margin-bottom: 10px; /* Espacio entre los botones */
        margin-top: 6px;
        width: 100%; /* Botones ocupan el 100% en pantallas pequeñas */
    }

    /* Ajustar el tamaño de los íconos y el texto para que quepan bien */
    .navbar-nav .nav-item svg {
        width: 24px; /* Ajustar tamaño del ícono */
        height: 24px;
    }

    .navbar-nav .nav-item button {
        font-size: 14px; /* Tamaño de texto más pequeño */
    }
}



@media (max-width: 768px) {
    .producto {
        width: 50%; /* Los productos ocuparán el 50% de ancho en pantallas medianas */
    }

    .col-md-6 {
        width: 100%; /* Las columnas ocuparán todo el ancho en pantallas más pequeñas */
        margin-bottom: 20px; /* Añade un espacio entre las secciones */
    }

    .img-fluid {
        max-width: 100%; /* Asegúrate de que la imagen no exceda el ancho de la columna */
        height: auto; /* Mantén las proporciones de la imagen */
    }

    .btn-lg {
        font-size: 1rem; /* Ajusta el tamaño del botón en pantallas pequeñas */
        padding: 10px 20px;
    }

    h1 {
        font-size: 2rem; /* Reduce el tamaño del título */
    }

    h3 {
        font-size: 1.5rem; /* Ajusta el tamaño del precio */
    }

    .lead {
        font-size: 1rem; /* Ajusta el tamaño del texto descriptivo */
    }

    .btn {
        font-size: 1rem; /* Asegura que los botones no sean demasiado grandes */
    }
    
}

@media (max-width: 576px) {
    .producto {
        width: 100%; /* Los productos ocuparán el 100% del ancho en pantallas pequeñas */
    }

    .btn-img-container img {
        height: auto;
        width: 100%; /* Aseguramos que la imagen no se deforme y ocupe todo el ancho disponible */
    }

    .card-body {
        text-align: center; /* Alineamos el contenido del card al centro */
    }

    .btn-card-title {
        font-size: 1.2rem; /* Ajustamos el tamaño del texto en los botones */
    }

    .btn-margin-bottom {
        margin-bottom: 10px; /* Espacio entre el botón y los demás elementos */
    }
}