/* El css personalizado*/
/*
#08D9D6 - azul - principal
#252A34 - negro - secundario
#FF2E63 - rosa - fondo header
#EAEAEA - gris - fondo body
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



h1 {
    color: #252A34;
}

body {
    background-color: #EAEAEA;
    font-family:'Open Sans';
}

.responsive {
    width: 100%;
    max-width: 200px;
    height: 80%;
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.card-title {
    font-size: 1.5em;
    color: #252A34; 
    text-align: center;
}

.card-text {
    font-size: 1.0em;
    color: #252A34; 
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 243px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.03); /* Aumenta ligeramente el tamaño de la imagen */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Añade una sombra */
}




.mt-auto {
    margin-top: auto; /* Hace que el botón se alinee al final del contenido */
}

.bg-color {
    background-color: #FF2E63;
}

.btn {
    background-color: #08D9D6;
    border-color: #08D9D6;
}


.btn-secondary {
    background-color: #252A34;
    border-color: #252A34;
}

.btn:hover {
    background-color: #1fabbd;
    border-color: #1fabbd;
}

.btn-secondary:hover {
    background-color: rgb(58, 67, 83);
    border-color: rgb(58, 67, 83);
}


.btn-margin-bottom {
    margin-bottom: 10%;
}


.btn-arriba {
    margin-left: 2px;
    margin-right: 2px;
}

/* Para los botones del container que tienen las imagenes*/

.btn-img-container {
    position: relative;
    width: 100%;
    border: none;
    overflow: hidden;
    background-color: transparent;
    display: block;
    transition: transform 0.3s ease; /* Para animaciones, si las quieres */
}



#carrito-contador {
    background-color: #FF2E63!;
}

a.iconos-redes {
    text-decoration: none;
}


/* Fondo del footer */
.footer-bg {
    background-color: #252A34; /* Negro - secundario */
}

/* Sección de redes sociales */
.social-media-section {
    background-color: #252A34; /* Negro - secundario */
}

/* Texto de redes sociales */
.social-text span {
    color: #EAEAEA; /* Gris - fondo body */
}

/* Estilo para iconos de redes sociales */
.iconos-redes svg {
    color: #08D9D6; /* Azul - principal */
    transition: color 0.3s;
}

.iconos-redes svg:hover {
    color: #FF2E63; /* Rosa - fondo header al pasar el cursor */
}

/* Sección de links en el footer */
.footer-links {
    background-color: #252A34; /* Negro - secundario */
    padding-top: 20px;
}

.footer-links h6 {
    color: #08D9D6; /* Azul - principal */
    font-weight: bold;
}

.footer-links a {
    color: #EAEAEA; /* Gris - fondo body */
    text-decoration: none;
}

.footer-links a:hover {
    color: #FF2E63; /* Rosa - fondo header al pasar el cursor */
}

/* Descripción de la empresa en el footer */
.footer-description {
    color: #EAEAEA; /* Gris - fondo body */
}

/* Copyright */
.footer-copyright {
    background-color: #252A34; /* Negro - secundario */
    color: #EAEAEA; /* Gris - fondo body */
}


/* CSS para alinear contenido e imagen en la sección del banner */

.banner {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: space-between; /* Asegura que la imagen esté a la derecha y el contenido a la izquierda */
    padding: 0px; /* Añade espacio alrededor del contenido */
    margin-left: 0.5em;
}

.banner .content {
    flex: 1;
    max-width: 50%; /* Asegura que el contenido ocupe solo la mitad de la pantalla */
    padding-right: 20px; /* Espacio entre el contenido y la imagen */
}

.banner .image {
    flex: 1;
    max-width: 50%; /* Asegura que la imagen ocupe solo la mitad de la pantalla */
    display: flex;
    justify-content: flex-end; /* Asegura que la imagen esté a la derecha */
}

.banner .image img {
    max-width: 100%; /* La imagen ocupará todo el ancho posible sin desbordar */
    height: auto;
    object-fit: cover; /* Mantiene la proporción de la imagen */
}

.milogo {
    max-height: 50px;  
    height: auto;  
    width: auto; 
}

.imagen-carrito {
    max-height: 50px;  
    height: auto;  
    width: auto; 
}

.btn-logo {
    background-color: #143447;
    border-color: #143447;
    border-radius: 10px;
}


.btn-logo:hover {
    border-color: #08D9D6;
    border-radius: 13px;
}



/* Estilos para los formularios */



.form-container {
    max-width: 600px; /* Define un ancho máximo para el formulario */
    width: 100%; /* Asegura que el formulario sea responsive */
}

.form-control {
    border: 1.5px solid #252A34;
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    padding: 5px; 
    font-size: 1rem; 
    transition: all 0.3s ease-in-out;
}

.btn-primary {
    background-color: #08D9D6;
    border-color: #08D9D6;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
    padding: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
    background-color: #06b1ad;
    transform: scale(1.02);
}

.btn-outline-secondary {
    border-radius: 0 10px 10px 0; /* Redondea solo el borde derecho del botón */
}

.shadow-lg {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave para resaltar el formulario */
}

h1.text-center {
    color: #252A34;
}

input[type="password"] {
    border-radius: 10px 0 0 10px; /* Redondea solo el borde izquierdo del input */
}


/* Carousel dio mio */

.carousel-item {
    height: 100%;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}