<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Carrito</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/frontview.css' %}">
</head>
<body>
    <h1>Tu Carrito</h1>
    {% if carrito %}
        <ul>
            {% for producto_id, cantidad in carrito.items %}
                <li>{{ producto_id }}: {{ cantidad }}</li>
            {% endfor %}
        </ul>
        <form method="post" action="{% url 'cerrar_sesion' %}">
            {% csrf_token %}
            <label for="direccion">Dirección de Entrega:</label>
            <input type="text" name="direccion" id="direccion" required>
            <button type="submit">Procesar Pedido</button>
        </form>
    {% else %}
        <p>Tu carrito está vacío.</p>
    {% endif %}
    <a href="{% url 'tienda' %}">Seguir comprando</a>
</body>
</html>